# Ignorar node_modules
node_modules/

# Ignorar las carpetas de compilación y salida
www/
platforms/
dist/
build/

# Ignorar los archivos de configuración de producción
.env
*.env

# Ignorar dependencias de IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignorar archivos generados por Angular CLI
.angular/
.angular.cache/

# Ignorar carpetas de pruebas temporales
coverage/

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar caché de Ionic
.sass-cache/
.cache/

