<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Reloj Checador </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="user-info" *ngIf="userData">
    <img
      *ngIf="userData.imagen"
      class="profile-image"
      [src]="userData?.imagen"
      alt="Imagen de perfil"
    />
    <ion-text>
      <h2>{{userData.name }}</h2>
      <h3>Empleado</h3>
    </ion-text>
  </div>

  <div class="logout-container">
    <ion-button
      expand="full"
      color="danger"
      shape="round"
      class="logout-btn"
      (click)="logout()"
    >
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      Cerrar Sesión
    </ion-button>
  </div>

  <div class="button-container">
    <div class="button-item">
      <ion-button shape="round" color="primary" (click)="registrar('Entrada')" [disabled]="horaEntrada !== '-:-'">
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-text>Entrada</ion-text>
    </div>

    <div class="button-item">
      <ion-button shape="round" color="secondary" (click)="registrar('Descanso')" [disabled]="horaFinComida !== '-:-'">
        <ion-icon name="beer-outline"></ion-icon>
      </ion-button>
      <ion-text>Descanso</ion-text>
    </div>

    <div class="button-item">
      <ion-button shape="round" color="tertiary" (click)="registrar('Salida')" [disabled]="horaSalida !== '-:-'">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
      <ion-text>Salida</ion-text>
    </div>
  </div>

  <!-- <div class="date-container">
    <ion-text class="date-text">{{ currentDate }}</ion-text>
  </div> -->

  <!-- <div class="separator-container">
    <div class="separator-item">
      <hr class="separator-line" />
      <ion-text>Entrada</ion-text>
    </div>
    <div class="separator-item">
      <ion-text>Sin Registro</ion-text>
    </div>

    <div class="separator-item">
      <hr class="separator-line" />
      <ion-text>Inicio de Descanso</ion-text>
    </div>
    <div class="separator-item">
      <ion-text>Sin Registro</ion-text>
    </div>

    <div class="separator-item">
      <hr class="separator-line" />
      <ion-text>Fin de Descanso</ion-text>
    </div>
    <div class="separator-item">
      <ion-text>Sin Registro</ion-text>
    </div>

    <div class="separator-item">
      <hr class="separator-line" />
      <ion-text>Salida</ion-text>
    </div>
    <div class="separator-item">
      <ion-text>Sin Registro</ion-text>
    </div>
  </div> -->

  <ion-list>
    <ion-item>
      <!-- Encabezado de entrada -->
      <div class="entrada">
        <div class="texto-izquierda">
          <h4>{{ fechaActual }}</h4>
        </div>
        <!-- <div class="texto-derecha">
          Ver registros pendientes
        </div> -->
      </div>
    </ion-item>
    <ion-item>
      <div class="entrada">
        <div class="texto-izquierda">
          <span>Entrada</span>
          <p><ion-icon class="disponible" name="location-sharp"></ion-icon> <span class="disponible">No Disponible</span></p>
        </div>
        <div class="texto-derecha">
          {{ horaEntrada }}
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="entrada">
        <div class="texto-izquierda">
          <span>Inicio Descanso</span>
          <p><ion-icon class="disponible" name="location-sharp"></ion-icon> <span class="disponible">No Disponible</span></p>
        </div>
        <div class="texto-derecha">
          {{ horaInicioComida }}
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="entrada">
        <div class="texto-izquierda">
          <span>Fin Comida</span>
          <p><ion-icon class="disponible" name="location-sharp"></ion-icon> <span class="disponible">No Disponible</span></p>
        </div>
        <div class="texto-derecha">
          {{ horaFinComida }}
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="entrada">
        <div class="texto-izquierda">
          <span>Salida</span>
          <p><ion-icon class="disponible" name="location-sharp"></ion-icon> <span class="disponible">No Disponible</span></p>
        </div>
        <div class="texto-derecha">
          {{ horaSalida }}
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
