<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <div  class="container" style="height:100%;">
    <div class="form" style="height:100%">
      <ion-list lines="none">
        <ion-img src="./assets/img/logoIS.png" alt="Logo RH" class="login-logo"></ion-img>
        
        <form >
          <ion-item>
            <!-- <ion-label position="floating" >Email</ion-label> -->
            <ion-input label="Usuario" type="email" [(ngModel)]="email" name="email" required></ion-input>
          </ion-item>
          <ion-item>
            <!-- <ion-label position="floating">Password</ion-label> -->
            <ion-input label="Contraseña" type="password" [(ngModel)]="password" name="password" required></ion-input>
          </ion-item>
          <ion-button expand="full" type="submit" (click)="iniciar_sesion()" size="medium" style="width:50%;margin-top:5px" class="btn btn-color">Login</ion-button>
        </form>
      </ion-list>
    </div>
  </div>
</ion-content>
